<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - calc</title>
  @*   <link rel="stylesheet" href="../../wwwroot/css/styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="bg-cover bg-no-repeat bg-gradient-to-bl from-red-500 via-red-300 to-red-100 h-[100vh]">
    @RenderBody()

    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>